{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {{ form_start(registrationForm, { 'attr' : { 'class': 'sign' } }) }}
        <h1>Register</h1>

        {{ form_row(registrationForm.name, {
            'attr' : { 'class': 'form-control' },
            'label_attr' : { 'class': 'form-label' },
        }) }}
        {{ form_row(registrationForm.email, {
            'attr' : { 'class': 'form-control' },
            'label_attr' : { 'class': 'form-label' },
        }) }}
        {{ form_row(registrationForm.password, {
            label: 'Password',
            'attr' : { 'class': 'form-control' },
            'label_attr' : { 'class': 'form-label' },
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            'attr' : { 'class': 'form-check-input' },
            'label_attr' : { 'class': 'form-check-label' },
        }) }}

        <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
    {{ form_end(registrationForm) }}

    <div class="text-center">
        <p>Do you already have an email?<a href="{{ path('app_login') }}"> click here login</a></p>
    </div>
{% endblock %}
